@mixin small {
    @media (max-width : 420px) {
        @content;
    }
}

.tooltip {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 90%;
    max-width: 440px;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 18px 16px 18px;
    margin: auto;
    border: 3px solid #2f2e41;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    transition-duration: 100ms;

    @include small {
        flex-direction: column-reverse;
    }

    &:active {
        transform: scale(.96);
    }

    hr {
        width: 90%;
        margin: 4px;
    }

    .tool-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .tool-title {
            font-weight: bolder;
            font-size: large;
            margin: 4px;
        }

        .tool-description {
            font-weight: bold;
            font-size: medium;
            margin: 4px;
            display: block;
            opacity: .8;
        }

        .tool-url {
            color: gray;
            font-size: small;
            font-family: 'Roboto', sans-serif;
            text-decoration: underline;
            transform: translateY(2px);
        }
    }

    .tool-img {
        width: 100%;

        img {
            width: 100%;
            max-width: 160px;
            margin: 4px 2px 4px 12px;
            border-radius: 10px;

            @include small {
                margin: 0;
            }
        }
    }

}