// content present as pallette on in the main
main {
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    // optional from below
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    transition: scale(0);
}

// page animations
@keyframes from_left {
    0% {
        left: -100%;
    }

    100% {
        left: 0;

    }
}

@keyframes from_right {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}